html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

.title {
    opacity: 1;
}

/* section */
#home,
#fahrschule,
#nothelfer,
#VKU,
#motorrad,
#price {
    width: 100%;
    height: 100vh;
}

.home,
.fahrschule,
.nothelfer,
.VKU,
.motorrad,
.price {
    font-weight: 500;
}

.section-bg-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

header {
    top: 0;
    z-index: 9;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #414141;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #FFF;
}

.sidebar-ul {
    list-style: none;
    padding: 0px;
    min-width: 300px;
}

.sidebar-ul li {
    border-bottom: 1px solid #ddd;
}

.sidebar-ul li:hover a {
    background: #fff;
    color: #000;
}

.sidebar-ul li a {
    color: #fff;
    padding: 15px 25px;
    transition: 0.5s;
}

/* section content */
.content {
    top: 0;
    z-index: 1;
    padding: 8rem 0px;
}

.content-btn {
    min-width: 250px;
}

.down-arrow {
    font-size: 35px;
    transform: rotate(90deg);
    display: block;
    margin-top: 40px;
}

/* footer */
.footer {
    margin-top: -50px;
    position: absolute;
    z-index: 9;
}

/* pole */
.middle {
    display: flex;
}

.pole {
    right: 20%;
}

button.im1_btn,
.im2_btn,
.im3_btn,
.im4_btn {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 23px;
    border-radius: 33px 0px 0px 30px !important;
}

button.btt-1t {
    top: 1%;
}

button.btt-2t {
    top: 16%;
}

button.btt-3t {
    top: 30%;
}


/* Cookies */
.new-popup {
    background: #fff;
    border-radius: 5px;
    padding: 40px 20px;
    box-shadow: 0 0 5px 3px #77777726;
    max-width: 450px;
    margin: 0px 10px;
}

.new-popup-overlay {
    position: fixed;
    z-index: 9;
    text-align: center;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 95vh;
    top: 0;
}

div#cookieNotice .text-center {
    margin-bottom: 40px;
}

a.acceptCookieConsent {
    background: #0072d0;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 10px;
    text-decoration: none;
}

a.popup-btn-close {
    background: #e90616;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 10px;
    text-decoration: none;
}